B2_KEY_ID=003aec00ebb87de0000000001
B2_APP_KEY=K003nKs7ESkJFPJjzNak7+Z6aY1jb/0
B2_BUCKET_NAME=Tracemind-storage
GMICLOUD_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjI2ZDkwYzNhLTljNjAtNGVkNy05OWQ0LWEzYjYxYzMzN2EwNyIsInNjb3BlIjoiaWVfbW9kZWwiLCJjbGllbnRJZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCJ9.SGQ-D0wpgPocxtxmlF0CQLxNdCv0wWNf_f9nJHewjBU
